# Server only
HELIUS_API_KEY=
ISSUER_KEYPAIR=
KEEPER_KEYPAIR=
KEEPER_TICK_SECRET=

# Client
NEXT_PUBLIC_DEVNET_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=
NEXT_PUBLIC_REPLICA_SPACEX=
NEXT_PUBLIC_REPLICA_SPCXX=
NEXT_PUBLIC_REPLICA_POOL=
